# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Location of the bash script. Should have value <github_scm.name>/<path_from_repository_root>.
# github_scm.name is specified in the job configuration (next section).
build_file: "looker-tableau-connector/kokoro/prod/taco-signer/kokoro_sign.sh"

# proto-message: Action
action {
  define_artifacts {
    regex: "github/looker-tableau-connector/connector-plugin-sdk/connector-packager/packaged-connector/*.taco"
  }
}
